In [1]:
import pandas as pd
path = "https://kodim.cz/cms/assets/czechitas/python-data-1/python-pro-data-1/podmineny-vyber/podmineny-vyber/ceska-jmena/jmena.csv"
data = pd.read_csv(path)
data.head(20)

        jmeno  cetnost  prumerny_vek pohlavi      puvod
0        Jiří   296090            49       m      řecký
1         Jan   293938            40       m  hebrejský
2        Petr   272135            42       m      řecký
3        Jana   264944            50       ž  hebrejský
4       Marie   260526            65       ž  hebrejský
5       Josef   211317            57       m  hebrejský
6       Pavel   200997            46       m   latinský
7      Martin   188380            33       m   latinský
8       Tomáš   181926            30       m  aramejský
9    Jaroslav   172785            55       m  slovanský
10        Eva   152463            53       ž  hebrejský
11   Miroslav   147753            52       m  slovanský
12       Hana   145901            51       ž  hebrejský
13       Anna   134819            51       ž  hebrejský
14     Zdeněk   126094            54       m  slovanský
15     Václav   123927            51       m  slovanský
16     Michal   123324            32       m  hebrejský
17  František   122910            58       m    italský
18      Lenka   118763            40       ž    neznámý
19   Kateřina   118127            29       ž      řecký

In [2]:
# Vypiš všechny řádky se jmény, jejichž nositelé mají průměrný věk vyšší než 60 (hodnota ve sloupci prumerny_vek je větší než 60).
over_60 = data[
    (data["prumerny_vek"] > 60)
]
over_60

        jmeno  cetnost  prumerny_vek pohlavi      puvod
4       Marie   260526            65       ž  hebrejský
23       Věra   107388            63       ž  slovanský
30  Jaroslava    84556            63       ž  slovanský
38    Ludmila    72750            65       ž  slovanský
40     Zdeňka    69060            61       ž  slovanský
50    Jarmila    59666            65       ž  slovanský
53     Jiřina    55366            64       ž      řecký
64     Vlasta    41736            68       ž  slovanský
68     Božena    39851            72       ž  slovanský
70     Libuše    39269            66       ž  slovanský
71      Marta    38897            63       ž  aramejský
91     Růžena    28952            69       ž  slovanský
99     Zdenka    25416            68       ž  slovanský

In [8]:
#Vypiš pouze jména z těch řádků, kde četnost je mezi 80 000 a 100 000.
freq_80_to_100_k = data[
    (data["cetnost"] >= 80000) & (data["cetnost"] <= 100000)
]
freq_80_to_100_k

        jmeno  cetnost  prumerny_vek pohlavi      puvod
29   Veronika    88854            25       ž      řecký
30  Jaroslava    84556            63       ž  slovanský
31   Vladimír    83762            56       m  slovanský
32     Tereza    83692            18       ž      řecký
33    Martina    81312            36       ž   latinský

In [14]:
#Vypiš jména a četnost pro jména se slovanským nebo hebrejským původem. Kolik takových jmen je?
slav_hebrew_names = data[
    (data["puvod"].str.lower().isin(["slovanský", "hebrejský"]))
]
slav_hebrew_names

        jmeno  cetnost  prumerny_vek pohlavi      puvod
1         Jan   293938            40       m  hebrejský
3        Jana   264944            50       ž  hebrejský
4       Marie   260526            65       ž  hebrejský
5       Josef   211317            57       m  hebrejský
9    Jaroslav   172785            55       m  slovanský
10        Eva   152463            53       ž  hebrejský
11   Miroslav   147753            52       m  slovanský
12       Hana   145901            51       ž  hebrejský
13       Anna   134819            51       ž  hebrejský
14     Zdeněk   126094            54       m  slovanský
15     Václav   123927            51       m  slovanský
16     Michal   123324            32       m  hebrejský
21      Jakub   108013            19       m  hebrejský
22      Milan   107458            51       m  slovanský
23       Věra   107388            63       ž  slovanský
24      Alena   105093            55       ž  hebrejský
28      David   101311            25       m  hebrejský
30  Jaroslava    84556            63       ž  slovanský
31   Vladimír    83762            56       m  slovanský
34   Michaela    78823            28       ž  hebrejský
35      Jitka    78187            51       ž  hebrejský
38    Ludmila    72750            65       ž  slovanský
39   Ladislav    69797            55       m  slovanský
40     Zdeňka    69060            61       ž  slovanský
41      Ivana    68917            49       ž  slovanský
45  Stanislav    61889            54       m  slovanský
46     Eliška    61517            24       ž  hebrejský
47     Zuzana    61382            34       ž  hebrejský
48     Daniel    60935            23       m  hebrejský
50    Jarmila    59666            65       ž  slovanský
51      Radek    58589            36       m  slovanský
56    Vojtěch    52802            22       m  slovanský
58       Dana    50781            51       ž  hebrejský
61       Adam    47837            14       m  hebrejský
64     Vlasta    41736            68       ž  slovanský
66  Miroslava    41151            54       ž  slovanský
68     Božena    39851            72       ž  slovanský
70     Libuše    39269            66       ž  slovanský
72      Matěj    38519            13       m  hebrejský
73      Šárka    38339            37       ž  slovanský
82   Miloslav    32769            60       m  slovanský
84   Gabriela    31175            33       ž  hebrejský
85    Jaromír    30984            55       m  slovanský
89      Aneta    29840            17       ž  hebrejský
90     Simona    29618            30       ž  hebrejský
91     Růžena    28952            69       ž  slovanský
92      Radka    26939            38       ž  slovanský
93    Daniela    26536            38       ž  hebrejský
96  Vlastimil    26014            54       m  slovanský
97        Iva    26003            46       ž  slovanský
98      Miloš    25509            53       m  slovanský
99     Zdenka    25416            68       ž  slovanský

In [21]:
# Total count of both Hebrew AND Slav names
freq_80_to_100_k['cetnost'].sum()

422176